{% extends "base.html" %} {% block start %}
<div class="container mt-5">
  <form
    class="col-5 mx-auto card p-3 shadow-lg"
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2>Add the recipe</h2>
    <div class="form-group mb-3">
      <label for="receipe_name">Recipe name</label>
      <input
        name="receipe_name"
        type="text"
        class="form-control mt-1"
        id="receipe_name"
        placeholder="Enter recipe name"
      />
    </div>
    <div class="form-group mb-3">
      <label for="receipe_des">Recipe description</label>
      <textarea
        name="receipe_des"
        class="form-control"
        id="receipe_des"
      ></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="receipe_image" class="form-control mb-1">Upload image</label>
      <input
        name="receipe_image"
        type="file"
        class="form-control"
        id="receipe_image"
      />
    </div>
    <button type="submit" class="btn btn-success" name="submit">
      Add recipe
    </button>
  </form>
  <hr />
  <div class="mt-5 mx-auto col-5">
    <form>
      <div class="form-group mb-3">
        <label for="Search">Search Food</label>
        <input name="search" type="text" class="form-control mt-1" />
      </div>
      <button type="submit" class="btn btn-primary" name="Search">Search</button>
    </form>
    
  </div>

  <table class="table table-light border mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">SL.NO</th>
        <th scope="col">Receipe Name</th>
        <th scope="col">Receipe description</th>
        <th scope="col">Receipe image</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      {% for receipe in receipes%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{receipe.receipe_name}}</td>
        <td>{{receipe.receipe_des}}</td>
        <td>
          <img src="/media/{{receipe.receipe_image}}" style="height: 200px" />
        </td>

        <td>
          <a
            href="/update_receipe/{{receipe.id}}/"
            type="submit"
            class="btn btn-success m-2"
            name="Update"
            >Update</a
          >

          <a
            href="/delete_receipe/{{receipe.id}}/"
            type="submit"
            class="btn btn-danger m-2"
            name="delete"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
